.table_main{
    margin: auto 100px;
    text-align: center;
}

.up_del{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

table tr td{
    width: 100px;
}

table td{
    font-size: 14px;
}

.edi_container{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    background-color: grey;
    border-radius: 5px;
    
  }


.edit_task_back{
    background-image: linear-gradient(-180deg, #56bf89 0%, #56bf89 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 15px;
  justify-content: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  width: 150px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edittask_btn{
    display: flex;
    justify-content: space-between;
}

.edi_container input[type=text]{
        width: 100%;
        height: 25px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
}

.edi_container input[type=date]{
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.appr_radio{
    display: flex;
    flex-direction: row;
    color: #fff;
  }


  .edit_select select{
    color: rgb(92, 92, 92);
    width: 500px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .edittask_btn{
      border-radius: 5px;
  }